header{
    position:sticky;
    background-color: #3d3d3d;
    color:white;
    padding: 5px
}
body{
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header > h2{
    margin:0;
    padding:6px 25px 8px;
}

.items-wrapper{
    width: calc(40% + 48px);
    display: flex;
    margin:auto;
    flex-direction: column;
    gap:12px;
}

.items-wrapper button{
    width: 100%;
    padding: 6px 8px;
    color: #2d2d2d;
    background-color: transparent;
    border-radius: 4px;
    border:1px solid #2d2d2d;
    transition: all 0.3s;
    cursor: pointer;

}

.items-wrapper button:active{
    background-color: rgba(153, 153, 153, 0.3);
}
.items-container{
    box-shadow: 0 0 4px 4px #999;
    box-sizing: border-box;
    display: flex;
    width:100%;
    flex-direction: column;
    padding: 24px;
    margin-top: 40px;
    border-radius: 4px;
}

.item{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   margin: 6px 0 8px;
    text-align: left;
    box-shadow: 0 0  #3d3d3d;
    border-radius: inherit;
    transition: all 0.2s;
    border: 1px solid transparent;
    padding: 6px 8px;
    
}

.item:hover{
    border: 1px solid #3d3d3d;
    cursor: pointer;
    background-color: rgba(153,153,153, 0.2);
}

.item > span{
    color: #2d2d2d;
}
.item p{
    margin: 0;
}
.item p span{
    color: #999;
}

.input-container{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    box-sizing: border-box;
}

.input-container input{
    padding: 6px 8px;
    border-radius: 4px;
    border: 1px solid #2d2d2d;
    flex:0 40%;
}

.invalid_input{
    border: 2px solid brown !important;
}

.error-caption{
    opacity: 0;
    transition: all 0.5s;
    font-size: 12px;
    color:red;
    position: absolute;
    top:30px;
    left: 5px;
}

.invalid_input > .error-caption{
    opacity: 1;
}
.invalid_input > input{
    border: none;
}

.second-input{
    position: relative;
    display: flex;
    flex-direction: row;
}
.disabled{
    opacity: 0.5;
}