<div class="item">
           <span >
              {{name}} 
           </span> 
           <p>
               <span>
                   {{email}}
               </span>
               <span>
                   {{company}}
               </span>
           </p>
        </div>