<button class="item" onclick="window.location.href = `/update/{{id}}`">
    <span >
        {{name}} 
            </span> 
           <p>
               <span>
                   {{phonk}}
               </span>
           </p>
</button>
