<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">
    <title>Add document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    {{>header}}
    <div class="items-wrapper">
        {{>itemsContainer}}
        <div class="input-container">
            <input type="text" placeholder="name">
            <span>+<input id="phonkInput" type="number" maxlength="12" placeholder="phonk" value="{{editItem.phonk}}"></span>
        </div>
        <div>
            <button onclick="confirm()">Confirm</button>
            <button onclick="cancer()">{{cancelButtonName}}</button>
        </div>
    </div>
</body>
<script>
        function confirm(){
            const data = document.getElementsByTagName('input');
            fetch('/add', {
                method:"POST",
                headers:{ 
                    "Content-Type": "application/json"
                }, 
                body: JSON.stringify({
                    name: data[0].value,
                    phonk: data[1].value
                })
            }).then(res=> window.location.href = '/')


        }
        function cancer(){
            window.location.href="/"
        }
</script>
</html>