<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add document</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    {{>header}}
    <div class="items-wrapper">
        {{>itemsContainer}}
        <div class="input-container">
            <input type="text" placeholder="name">
            <input type="text" placeholder="company">
        </div>
        <div>
            <button onclick="confirm()">Confirm</button>
            <button>Cancel</button>
        </div>
    </div>
    <script>
        function confirm(){
            const data = document.getElementsByTagName('input');
            fetch('./add', {
                method:"POST",
                headers:{ 
                    "Content-Type": "application/json"
                }, 
                body: JSON.stringify({
                    name: data[0],
                    company: data[1]
                })
            }).then(res=> window.location.href = '/')
        }
    </script>
</body>
</html>